$darkblue: #054266;
$blue: #2B98D2;

body,
html {
    height: 100%;
}

.main {
    flex: 1 1 auto;
}

.pagewrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;

    &.hidden {
        overflow: hidden;
    }

    & * {
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
        line-height: 160%;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1272px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: #054266;
    font-size: 48px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 130%;

    &.white {
        color: #fff;
    }
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #054266;
    line-height: 130%;
    margin-bottom: 24px;

    &.white {
        color: #fff;
    }
}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #054266;
    line-height: 130%;
    margin-bottom: 16px;

    &.white {
        color: #fff;
    }
}

.text-end {
    text-align: right;
}

.darkblue-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    padding: 3px 24px;
    transition: 0.3s;
    border-radius: 100px;
    color: #fff;
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    background: $darkblue;
    line-height: normal;
    text-align: center;

    img {
        width: 12px;
        margin-left: 12px;
        transition: 0.5s;
    }

    &:hover {
        background: #2B98D2;

        img {
            transform: translateX(5px);
        }
    }

    &.darkest {
        background: #02273D;


    }
}

.blue-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    padding: 3px 24px;
    transition: 0.3s;
    border-radius: 100px;
    color: #fff;
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    background: #2B98D2;
    border: 3px solid #0D5179;

    &:hover {
        background: #0D5179;
    }

    &.light-border {
        border: 3px solid #E1F0F9;
    }
}

.white-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    padding: 3px 24px;
    transition: 0.3s;
    border-radius: 100px;
    color: #054266;
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    background: #fff;
    border: 3px solid #0D5179;

    &:hover {
        background: #0D5179;
        color: #fff;
    }
}

.subsecttitle {
    font-family: "satoshi" !important;
    color: #06ADCF !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    margin-bottom: 16px !important;

    &.white {
        color: #fff !important;
    }
}

.knowmore-link {
    font-family: "Heebo", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #2B98D2;
    position: relative;
    padding-right: 21px;

    span {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -5px;
            height: 2px;
            width: 0;
            background: #2B98D2;
            transition: 0.3s;
        }
    }

    img {
        width: 9px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
    }

    &:hover {
        span {
            &::after {
                width: 100%;
            }
        }

        img {
            transform: translateY(-50%) translateX(5px);
        }
    }
}

.has-divider__top {
    border-top: 1px solid #EBF2FF;
}


.section-header {
    text-align: center;
    margin-bottom: 28px;

    p {
        max-width: 822px;
        margin: 0 auto;
        color: rgba(#04283D, 0.85);
    }
}



@media(max-width:1399.8px) {

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 36px;
    }

}

@media(max-width:1199.8px) {

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .subsecttitle {
        margin-bottom: 10px !important;
    }

}

@media(max-width:991.8px) {
    h3 {
        font-size: 24px;
    }
}

@media(max-width:575.8px) {
    .darkblue-btn,
    .blue-btn,
    .white-btn {
        min-height: 46px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 21px;
    }
}