.herosection h1 {
    margin-bottom: 26px;
}

.herosection.herosection__product {
    min-height: 585px;
}

.about-section__product {
    padding: 120px 0 120px;

    .about-section__info {
        max-width: 423px;
    }
}

.exaples-usess {
    padding-bottom: 130px;

    .section-header {
        padding: 130px 0 0 0;
    }
}

.exaples-usess__item {
    background: #fff;
    border: 1px solid #DCEEF6;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(#000, 0.04);
    padding: 38px 24px 15px 24px;
    min-height: 344px;
    height: 100%;

    img {
        height: 58px;
        margin-bottom: 20px;
        vertical-align: top;
    }

    h5 {
        margin-bottom: 8px;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #054266;
    }

    ul {
        list-style: disc;
        padding-left: 20px;
        color: rgba(#04283D, 0.85);
        font-size: 14px;
        line-height: 140%;
    }
}

.howworks__bgwrap {
    background: #054266;
    border-radius: 40px;
    padding: 82px 0;
    max-width: 1376px;
    margin: 0 auto;
    position: relative;

    .particles-js {
        width: 60%;
        right: 0;
        left: initial;
        top: 30%;
        pointer-events: none;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.howworks {
    margin-bottom: 130px;

    .section-header {
        h2 {
            margin-bottom: 16px;
        }

        p {
            color: rgba(#fff, 0.85);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.howworks__row {
    margin-bottom: 55px;

    &:last-child {
        margin-bottom: 0;
    }

    .imgwrap {
        text-align: right;

        img {
            border-radius: 35px;
            vertical-align: top;
        }
    }

}

.howworks__descr {
    padding-right: 80px;

    p {
        color: rgba(#fff, 0.85);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.howworks__rows {
    .howworks__row {
        &:nth-child(even) {
            flex-direction: row-reverse;

            .howworks__descr {
                padding-right: 0;
                padding-left: 80px;
            }
        }
    }
}

.details-section {
    background: #E3F3FA;
    border-top: 1px solid #DAEEF6;
    padding: 60px 0;

    .descr {
        h3 {
            margin-bottom: 48px;
            font-size: 36px;
        }
    }

    .readmore-btn {
        position: relative;
        color: #2B98D2;
        font-family: "Heebo", sans-serif;
        font-weight: 600;
        font-size: 15px;
        padding-right: 28px;
        cursor: pointer;

        i {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            &::after,
            &::before {
                content: '';
                display: inline-block;
                height: 2px;
                width: 14px;
                transition: 0.5s;
                border-radius: 4px;
                background: #2B98D2;
                position: absolute;
            }

            &::before {
                transform: rotate(90deg);
            }
        }

        &.active {
            i {
                &::before {
                    transform: rotate(0);
                }
            }
        }
    }

    .imgwrap {
        max-width: 451px;
        max-width: 100%;
        width: 100%;
        position: relative;
        display: inline-block;
        // min-height: 530px;
        border-radius: 25px;
        overflow: hidden;
    }
}

.details-section__imgcol {
    text-align: right;

    img {
        vertical-align: top;
        // position: absolute;
        // left: 0;
        // top: 0;
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
        // object-position: 50% 50%;
    }
}

.pr-logo {
    max-height: 52px;
    margin-bottom: 48px;
    vertical-align: top;
}

.details__info {
    padding: 24px 0 0 0;
    display: none;

    p {
        color: #2B98D2;

        b {
            font-weight: 600;
        }
    }
}

.authorbox {
    position: absolute;
    bottom: 12px;
    width: calc(100% - 24px);
    left: 12px;
    border-radius: 16px;
    background: #fff;
    z-index: 1;
    padding: 12px 14px;
    border: 1px solid #D5EAF3;
    text-align: left;

    p {
        margin: 0;
        font-size: 14px;
        color: rgba(#04283D, 0.85);
    }

    .name {
        margin-bottom: 2px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #054266;
    }
}

.howworks__row .imgwrap {
    img {
        max-width: initial;
        width: calc(100% + 20px);
        margin-left: -20px;
    }
}

.howworks__rows .howworks__row:nth-child(2n) .imgwrap {
    img {
        max-width: initial;
        width: calc(100% + 20px);
        margin-left: 0;
        margin-right: -20px;
    }
}



@media(max-width:1399.8px) {
    .herosection.herosection__product {
        min-height: 500px;
    }

    .exaples-usess__item {
        padding: 24px 24px 15px 24px;

        img {
            margin-bottom: 10px;
        }
    }

    .howworks__bgwrap {
        max-width: 1180px;
    }

    .howworks {
        margin-bottom: 100px;
    }

    .pr-logo {
        margin-bottom: 30px;
    }






    .exaples-usess {
        padding-bottom: 100px;
    }

    .exaples-usess .section-header {
        padding-top: 100px;
    }

    .about-section__product {
        padding: 100px 0;
    }


    .exaples-usess__item h5 {
        font-size: 16px;
    }
}

@media(max-width:1199.8px) {
    .herosection.herosection__product {
        min-height: 450px;
    }

    .exaples-usess__item {
        padding: 15px;
    }

    .howworks__bgwrap {
        max-width: 970px;
    }

    .howworks__descr {
        padding-right: 20px;
    }

    .howworks__rows .howworks__row:nth-child(2n) .howworks__descr {
        padding-left: 20px;
    }

    .details-section .descr h3 {
        margin-bottom: 30px;
    }

    // .details-section .imgwrap {
    //     min-height: 500px;
    // }



    .exaples-usess {
        padding-bottom: 80px;
    }

    .exaples-usess .section-header {
        padding-top: 80px;
    }

    .about-section__product {
        padding: 80px 0;
    }

    .details-section .descr h3 {
        font-size: 32px;
    }

}

@media(max-width:991.8px) {
    .exaples-usess .col-sm-6 {
        margin-bottom: 30px;
    }

    .exaples-usess__item {
        min-height: 320px;
        padding: 20px;
    }

    .howworks__bgwrap {
        max-width: 740px;
    }

    .howworks__row .imgwrap {
        img {
            max-width: 100%;
            width: 100%;
            margin-left: 0;
        }
    }

    .howworks__rows .howworks__row:nth-child(2n) .imgwrap img {
        margin-right: 0;
        max-width: 100%;
        width: 100%;
    }

    // .details-section .imgwrap {
    //     min-height: 300px;
    // }

    .pr-logo {
        margin-bottom: 15px;
    }

    .details-section .descr h3 {
        margin-bottom: 20px;
    }

    .details-section .imgwrap {
        max-width: 100%;
        min-height: initial;
        height: auto;

        img {
            object-position: 0 0;
            position: relative;
            vertical-align: top;
        }
    }

    .authorbox {
        bottom: 20px;
        width: calc(100% - 40px);
        left: 20px;
    }

    .details-section .imgwrap {
        display: none;
    }



    .exaples-usess__item h5 {
        font-size: 18px;
    }

    .exaples-usess {
        padding-bottom: 60px;
    }

    .howworks {
        margin-bottom: 80px;
    }


    .details-section .descr h3 {
        font-size: 24px;
    }
}

@media(max-width:767.8px) {
    .herosection h1 {
        margin-bottom: 20px;
    }

    .herosection.herosection__product {
        min-height: 400px;
    }

    .about-section__product .about-section__info {
        max-width: 100%;
    }

    .exaples-usess h2 br {
        display: none;
    }

    .howworks__bgwrap {
        max-width: 100%;
        border-radius: 0;
    }

    .howworks__descr {
        padding-right: 0;
    }

    .howworks__rows .howworks__row:nth-child(2n) .howworks__descr {
        padding-left: 0;
    }

    .howworks__descr h2 {
        font-size: 21px;
    }

    .howworks .section-header {
        border-bottom: 1px solid rgba(#fff, 0.3);
        padding-bottom: 20px;
    }

    .howworks__descr {
        margin-bottom: 20px;
    }

    .exaples-usess {
        padding-bottom: 40px;
    }







    .howworks {
        margin-bottom: 60px;
    }

    .exaples-usess .section-header {
        padding-top: 60px;
    }

    .about-section__product,
    .howworks__bgwrap {
        padding: 60px 0;
    }
}

@media(max-width:575.8px) {
    .herosection {
        min-height: initial !important;
        padding: 50px 0 !important;
    }

    .herosection.herosection__product .herosection__img {
        object-position: 25% 50%;
    }

    .exaples-usess__item {
        min-height: initial;
        padding: 24px 24px 30px 24px;
    }

    .exaples-usess .col-sm-6 {
        margin-bottom: 20px;
    }

    .howworks__row .imgwrap img {
        border-radius: 20px;
    }



    .details-section .descr h3 {
        font-size: 21px;
    }

    .howworks__descr h2 {
        font-size: 18px;
    }

}